<link rel="stylesheet" href="/css/bootstrap.min.css">
<style>
main {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    background-color: #F0F0F0; /* 배경 색상 설정 */
    height: auto; /* 전체 화면 높이 */
    padding: 30px;
    gap: 10px;
    font-size: 16px;
    font-family: 'NanumSquareNeo', Arial, sans-serif;
}

.nav-container{
	width: 160px; 
	height:200px;
	float: left;
	padding: 10px 20px;
    background-color: #FFFFFF; /* 배경 색상 설정 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 부드러운 그림자 추가 */
    display: flex;
    flex-direction: column; /* 수직 정렬 */
    justify-content: center; /* 세로 가운데 정렬 */
    
}
.sec-container{
	width: 1000px;
	height: 100%;
	padding: 20px;
    background-color: #FFFFFF; /* 배경 색상 설정 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 부드러운 그림자 추가 */
    float: left;
    min-height: 700px;
}
.admin-nav {
    background-color: #FFFFFF;
    padding: 5px 0;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;

}
.admin-nav a{
	text-decoration: none;
	color: #000000;
}
.admin-nav a:hover{
	font-weight: bold;
	text-decoration: underline;
}
.admin-nav a.active {
	font-weight: bold;
}
</style>

<div th:replace="~{layouts/header}" />
<main>
	<div class="nav-container">
		<nav class="admin-nav">
		    <a href="/car/newRegisterCar" th:classappend="${req_page == null ||req_page == '/car/newRegisterCar' ? 'active' : ''}">신규 차량 등록</a><br><br>
            <a href="/car/newCarBuyAdminList" th:classappend="${req_page == '/car/newCarBuyAdminList' ? 'active' : ''}">차량 구매 요청</a><br><br>
            <a href="/car/registerCar" th:classappend="${req_page == '/car/registerCar' ? 'active' : ''}">중고차 판매 요청</a><br><br>

		</nav>
	</div>
	
	<div class="sec-container">
		<section>
			<th:block th:if="${req_page == null }">
				<div th:replace="~{/car/newRegisterCar}"></div>
			</th:block>
			
			<th:block th:if="${req_page != null }">
				<div th:replace="~{${req_page}}"></div>
			</th:block>	
		</section>		
	</div>

</main>






<div th:replace="~{layouts/footer}" />