<div th:replace="~{layouts/header}"></div>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<style type="text/css">
h4{
	text-align: center;
}
.label{
	text-align: center;
}
.input{
	align-items: center;
	align-content: center;
	align-self: center;
}
</style>
<div class="container">
	<div class="main">
		<form action="/member/modifyForm" name="beforModify" method="post">
			<table class="table" style="width: 40%; margin-left: 25%; margin-right: 25%; margin-top: 20px;">
				<tr>
					<td colspan="2">
						<h4>회원정보 수정</h4>
					</td>
				</tr>
				<tr>
					<td class="label">비밀번호</td>
					<td>
						<input type="password" name="pw" required="required" class="input">
					</td>
				</tr>
				<th:block th:if="${error == 1}">
					<tr>
						<td colspan="2" style="text-align: center; color: red; font-size: 14"><span>비밀번호가 잘못되었습니다.</span></td>
					</tr>
				</th:block>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" class="btn btn-dark" value="회원정보 수정">
					</td>
				</tr>
			</table>
		</form>
	</div>

</div>
<div th:replace="~{layouts/footer}"></div>